<ion-header>
    <ion-navbar>
        <ion-title>{{category.title}}</ion-title>
      
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="getScrollPosition()">

  <ion-refresher (ionRefresh)="loadNewsList($event, true)">
      <ion-refresher-content
              pullingIcon="arrow-dropdown"
              refreshingSpinner="crescent">
      </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let news of newsList" class="news" (click)="goItemPage(news)">
      <img [src]="news.image"/>
      <ion-row padding-top padding-left [style.font-size]="app.fontSize+'px'">{{news.title}}</ion-row>
      <ion-row padding-bottom padding-left [style.font-size]="(app.fontSize*0.7)+'px'">{{app.formatDate(news.published_at) | date:'dd MMM '}}</ion-row>
  </ion-card>

  <div *ngIf="newsList.length==0 && !isInternet && errorMessage==null" text-center padding>
      <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="errorMessage!=null" text-center>
      <h3>{{errorMessage}}</h3>
  </div>

  <div *ngIf="isInternet">
      <h4 text-center>Keine Internet Verbindung.</h4>
      <ion-row justify-content-center>
          <button col-4 ion-button icon-left color="general" (click)="loadNewsList()">
              <ion-icon name="refresh"></ion-icon>
              Erneut versuchen
          </button>
      </ion-row>
  </div>

  <ion-infinite-scroll *ngIf="loadMore" (ionInfinite)="loadNewsList($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom *ngIf="showFloat">
      <button ion-fab color="general" (click)="scrollToTop()"><ion-icon name="ios-arrow-up"></ion-icon></button>
  </ion-fab>
</ion-content>